
html, body {
    height: 100%;
}

body {
    background: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: VT323, Verdana, Geneva, Tahoma, sans-serif;
}

#viewport {
    background-image: url("../images/water0.png");
    width: 640px;
    height: 256px;
    position: relative;
    overflow-x: auto;
}

#ports {
    width: 0px;
    margin-top: 96px;
    display: flex;
    justify-content: space-around;
}

#ports > .port {
    width: 64px;
    height: 32px;
    background-image: url("../images/port.png");
}

#ship {
    background-image: url("../images/ship.png");
    width: 128px;
    height: 64px;
    position: absolute;
}

#sailbutton {
    background: red;
    color: white;
    font-size:2em;
    text-align: center;
    text-shadow: 1px 1px black;
    position: fixed;
    width: 640px;
    height: 38px;
    margin-top: 90px;
}